<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    {% block head %}
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='Logo.png') }}" alt="PortuSentio Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Adicionar opinião</a></li>
            <li><a href="/revisão">Opiniões de revisão</a></li>

            {% if current_user.is_authenticated and current_user.is_admin %}
            <li><a href="/add_produto">Adicionar produto</a></li>
            <li><a href="/relatório">Gerar relatório</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li><a href="/logout">Fazer logout</a></li>
            {% else %}
            <li><a href="/login">Fazer login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
